body {
  font-family: georgia;
  background-color: rgba(220, 15, 99, .2);
}

header h1 {
  background-color: rgb(200, 0, 180);
  color: rgba(220, 140, 220, 1);
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 9px;
}

header p {
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(180, 80, 210, .7);
  color: rgb(100, 0, 130);
  font-family: helvetica;
  padding: 6px 0px 6px 50px;
}

nav {
  display: inline-block;
  width: 200px;
  margin-top: 6px;
}

main{
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
}

nav a {
  display: block;
  padding-bottom: 7px;
  padding-left: 4px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: rgb(200, 0, 180);
}

img {
  width:500px;
}

#table-container{
  height: 500px;
  background-image: url("img/prince2.jpg");
  background-size: cover;
  color: purple;
}

.paragraph-style {
  background-color: rgba(220, 15, 99, .1);
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 8px;
  padding-left: 6px;
}

#footer_message {
  text-align: center;
}

#purpletext {
  color: rgba(160, 32, 240, .9);
}

a:visited {
  color: rgba(160, 32, 240, .9);
}

a:hover {
  color: rgba(200, 0, 180, .7);
}

@media screen and (max-width: 480px) {
    nav {
      padding-left: 70px
    }

    main {
        width: 300px;
    }

    img {
        width: 300px;
    }

    iframe {
      width: 300px;
      height: 170px;
    }

    #table-container {
      background-size: cover;
      background-repeat: no-repeat;
      height: 300px;
    }
}